body {
	background-image:url('../images/woldCup.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
.text {
	color:white;
	text-shadow: 2px 2px black;
	font-size: 28px;
}

.titleText {
	font-weight: bold;
	margin-top: 50px;
}

.winners {
	padding-bottom: 35px;
}

.row {
	margin-top: 55px;
}
.inline{
	display:inline;
	margin-left:15px;
}
.tie {
	text-align: center;
}
select.center-block {
	clear: both;
}
.team-stats {
	color: white;
}
