body {
	background-image:url('../images/woldCup.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.appView {
	position: relative;
}
.text {
	color:white;
	text-shadow: 2px 2px black;
	font-size: 28px;
}
h1.text-center.text {
	margin: 40px 0 5px 0;
}

.titleText {
	font-weight: bold;
	color:white;
		text-shadow: 2px 2px black;
	margin: 50px 0 20px 0;
	font-size: 50px;
}

.winners {
	padding-bottom: 35px;
}
.inline{
	display:inline;
	margin-left:15px;
}
.tie {
	text-align: center;
}
select.center-block {
	clear: both;
	width: 20%;
}
.team-stats {
	color: white;
}
.team-stats td:last-child {
	text-align: right;
	padding-left: 10px;
	color: yellow;
}
.team-stats td {
	font-size: 16px;
}
img.center-block {
	margin-top: 10px;
}
.overlay {
	top: 0;
	left: 0;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,.4);
}
